body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f7f4ee;
    color: #3d3d3d;

    margin: 0;
    padding: 40px 20px;
}

.container {
    max-width: 500px;
    margin: 80px auto;
}

.input-area {
    margin-top: 40px;
    margin-bottom: 50px;
}

#saudacao {
    font-size: 2.2rem;
    font-weight: 600;

    margin-bottom: 12px;

    text-align: center;
}

#mensagem-dia {
    font-size: 1.1rem;
    font-weight: 400;

    color: #666;

    text-align: center;

    max-width: 320px;
    margin: 0 auto 40px auto;
}

input {
    width: 100%;
    padding: 18px 0;

    border: none;
    border-bottom: 1px solid #ddd;

    background: transparent;

    font-size: 20px;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #333;
}

button {
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    opacity: 0.85;
}

div {
    margin-top: 15px;
}

#contador-tarefas {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #666;
}

.primeira-tarefa {
    font-weight: 500;
}

.primeira-tarefa ~ li {
    opacity: 0.95;
    transition: 0.2s;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0;
    padding: 14px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e5e5e5;

    cursor: grab;
}

li:active {
    cursor: grabbing;
}

.drag-over {
    border-top: 2px solid #333;
}

li span {
    flex: 1;
    text-align: left;
}

li button {
    margin-left: 8px;
    background: none;
    color: #999;
    padding: 0;
}

.filtros {
    display: flex;
    gap: 15px;
    margin-top: 35px;
}

.filtros button {
    background: none;
    color: #777;
    padding: 0;
}

.filtros button:hover {
    opacity: 1;
    color: #333;
}

.filtro-ativo {
    color: #111;
    font-weight: bold;
}